body{
    background-color: rgb(255, 255, 255);
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;

}
.title{
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    width: 440px;
    height: 545px;
    background-color: rgb(255, 255, 255);
    float: left;
    margin-top: 0px;
    margin-left: 390px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: 0px 09px 10px 0px rgb(190, 187, 187);
}
.title h1{
    /* position: absolute; */
    margin-left: 10px;
}
.title p{
    margin-left: 10px;
    margin-top: -15px;
}
.namefield{
    float: left;
    background-color:rgb(255, 255, 255);
    width: 440px;
}
.name{
    font-size: 15px;
    margin-left: 13px;
    width: 190px;
    height:35px;
    border-radius: 6px;
    border: 0.1px solid rgba(128, 128, 128, 0.521);
    background-color: #b9b9b91e;
}
.name:focus{
    outline: 0.1px solid #1877f2;
}
.username{
    float: left;
    background-color:rgb(255, 255, 255);
    width: 440px;
}
.user{
    font-size: 15px;
    margin-left: 13px;
    width: 404px;
    height:35px;
    border-radius: 6px;
    border: 1px solid;
    margin-top: 10px;
    border: 0.1px solid rgba(128, 128, 128, 0.521);
    background-color: #b9b9b91e;


}
.user:focus{
    outline: 0.1px solid #1877f2;
}
.password{
    float: left;
    background-color:rgb(255, 255, 255);
    width: 440px;
}
.pass{
    font-size: 15px;
    margin-left: 13px;
    margin-bottom: 10px;
    width: 404px;
    height:35px;
    border-radius: 6px;
    border: 1px solid;
    margin-top: 10px;
    border: 0.1px solid rgba(128, 128, 128, 0.521);
    background-color: #b9b9b91e;


}
.pass:focus{
    outline: 0.1px solid #1877f2;
}
.date{
    float: left;
    background-color:rgb(255, 255, 255);
    width: 440px;
}
.birth{
    font-size: 15px;
    margin-left: 13px;
    width: 124px;
    height:35px;
    border-radius: 6px;
    border: 1px solid;
    margin-top: 0px;
    color: black;
    border: 0.1px solid rgba(128, 128, 128, 0.521);

    
}
.date p{
    margin-top: 0px;
    font-size: smaller;
    color: black;
    margin-left: 14px;
}
.birth:focus{
    outline: 0.1px solid #1877f2;
}
.info{
    /* float: left; */
    margin-top: 290px;
    background-color:rgb(255, 255, 255);
    width: 440px;
    height: 100px;
}
.info p{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
margin-bottom: none;
    font-size: 10px;
}
a{
    text-decoration: none;
}
p{
    color: #555759a9;
}
.new{
    float: left;
    background-color:rgb(255, 255, 255);
    width: 440px;
}
.createNew{
    border-radius: 7px;
    padding: 8px;
    width: 180px;
    margin-left: 130px;  
    background-color: #42b72a;
    border-width: 0px;
    margin-top: -4px; 
    color: white;
    font-weight: bolder;
    font-size: large;
    text-align: center;
}
.createNew:hover{
    cursor: pointer;
}
.date p{
    color: #777575;
    font-size: small;
    margin-top: 0px;
}
.gender{
    float: left;
    background-color:rgb(255, 255, 255);
    width: 440px;
    height: 80px;
}
.gender p{
    color: #777575;
    font-size: small;
    margin-top: 10px;
}
.male{
    float: left;
    width: 15%;
    margin: 10px;
    margin-left: 30px;
}
.female{
    float: left;
    width: 15%;
    margin: 10px;
    margin-left: 30px;

}
.custom{
    width: 15%;
    float: left;
    margin: 10px;
    margin-left: 30px;
}
.mr{
    margin-left: 30px;
    float: left;
    margin-top: 10px;
}
.fr{
    margin-left: 40px;
    float: left;
    margin-top: 10px;
}
.cr{
    margin-left: 40px;
    float: left;
    margin-top: 10px;
}
.male1{
    border: 0.1px solid rgba(128, 128, 128, 0.521);
    border-radius: 6px;
    margin-left: 13px;
    background-color: #ffffff;
    float: left; 
    width: 124px;
    height:35px;
    align-items: center;
    /* width:18%; */
}
.female1{
    margin-left: 13px;
    border: 0.1px solid rgba(128, 128, 128, 0.521);
    border-radius: 6px;
    background-color: #ffffff;
    float: left; 
    width: 124px;
    height:35px;
    align-items: center;

    /* width: 18%; */
}
.custom1{
    margin-left: 13px;
    border: 0.1px solid rgba(128, 128, 128, 0.521);
    border-radius: 6px;
    background-color: #ffffff;
    float: left;
    width: 124px;
    height:35px; 
    align-items: center;

    /* width: 18%; */
}
