body{
    margin: 0;
    background-image: linear-gradient(to top, #0000000a, #00000049, #0000004b, #00000043, #000000 ) , url("bg.jpg");
    background-color: rgba(0, 0, 0, 0.45);
    background-repeat: no-repeat;}
.header{
    background-repeat: no-repeat;
    width: 100%;
    height: 1200px;
    position: absolute;
}
.logo{
    width: 50%;
    margin-top: 25px;
    margin-left: 45px;
    position: absolute;
}
.button {
    background-color: #ff0000; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    float:none;
    position: absolute;
    margin-top: 25px;
    margin-left: 1100px;
    border-radius: 3px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    
 }
#select{
    background-color: #0400004b; /* Green */
    border-color: white;
    color: rgb(255, 255, 255);
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    margin-top: 25px;
    margin-left: 1000px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.quotes{
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    width: 600px ;
    text-align: center;
    margin-top: 125px;
    margin-left: 300px;
    position: absolute;
}
#firstword{
    color: white;
    font-size: 50px;
    line-height: 1.1;
    font-weight: bolder;
    text-align: center;
}
#secword{
    color: white;
    font-size: 25px;
    line-height: 1.1;
    font-weight:450;
    text-align: center;
}
#log{
    color: white;
    font-size: 20px;
    line-height: 1.1;
    font-weight:450;
    text-align: center;
    width: 700px;
    margin-left: -23px;
}
.mail{
    border: 1px solid;
    border-radius: 3px;
    background-color: rgba(159, 148, 148, 0.393);
    color: rgb(253, 253, 253);
    padding: 5px 12px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    /* float:none; */
    /* position: absolute; */
    margin-top: 10px;
    margin-left: -124px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    width: 450px;
    height: 50px;
}
.button6{
    background-color: #ff0000;
    border: none;
    border-radius: 0px;
    color: rgb(255, 255, 255);
    width: 200px;
    height: 60px;
    position: absolute;
    margin-top: 10px;
    margin-left: 0px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 20px;
}
.ad{
    width: 1263px;
    height: 515px;
    background-color: black;
    position: absolute;
    margin-top: 601px;
}
img.tv{
    margin-left: 673px;
    margin-top: 50px;
    position: absolute;
}
video.tvn{
    margin-left: 743px;
    margin-top: 130px;
    position: absolute;
    width: 400px;
    
}
p.tv{
    margin-top: 130px;
    margin-left: 100px;
    color: white;
    font-size: 50px;
    line-height: 1.1;
    font-weight: bolder;
    text-align: left;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
p.tvtag{
    margin-top: 0px;
    margin-left: 100px;
    width: 500px;
    color: white;
    font-size: 1.625rem;
    font-weight: 400;
    text-align: left;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.ad2{
    width: 1263px;
    height: 508px;
    background-color: black;
    margin-top: 1125px;
}
img.anim{
    margin-top: 40px;
    position:absolute;
}
h6.new{
    color: white;
    font-size: 15px;
    font-weight: bolder;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    margin-top: 325px;
    margin-left: 170px;
    position:absolute;  
    font-weight: 500;
}
img.dnld{
    margin-top: 322px;
    margin-left: 340px;
    position:absolute;  
}
img.movie{
    margin-top: 310px;
    position:absolute;  
    margin-left: 110px;  
}
h6.new1{
    color: #0071eb;
    font-size: 15px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    margin-top: 350px;
    margin-left: 170px;
    position:absolute; 
    font-weight: 400; 
}
.box{
    background: #000000;
    border-radius: 7px;
    box-shadow: 0 0 20px 0 #000;
    padding: 45px 150px;
    position: absolute;
    margin-top: 300px;
    margin-left: 100px;
    border: 1px solid;
    border-color: white;
}
p.mobtext1{
    width: 550px;
    margin-top: 130px;
    margin-left: 500px;
    color: white;
    font-size: 50px;
    line-height: 1.1;
    font-weight: bolder;
    text-align: left;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    position: absolute;
}
p.mobtext2{
    margin-top: 280px;
    margin-left: 500px;
    width: 500px;
    color: white;
    font-size: 1.625rem;
    font-weight: 400;
    text-align: left;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    position: absolute;
}
.ad3{
    width: 1263px;
    height: 508px;
    background-color: black;
    margin-top: 9px;   
    position: absolute;
}
p.tvtext2{
    width: 550px;
    margin-top: 150px;
    margin-left: 100px;
    color: white;
    font-size: 50px;
    line-height: 1.1;
    font-weight: bolder;
    text-align: left;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    position: absolute;
}
p.tvtext3{
    margin-top: 230px;
    margin-left: 100px;
    width: 500px;
    color: white;
    font-size: 1.625rem;
    font-weight: 400;
    text-align: left;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    position: absolute;
}
img.tv2{
    margin-left: 673px;
    margin-top: 50px;
    position: absolute;
}
video.tvvdo{
    margin-left: 790px;
    margin-top: 55px;
    position: absolute;
    width: 300px;
    height: 250px;
}
.ad4{
    width: 1263px;
    height: 508px;
    background-color: black;
    margin-top: 524px;   
    position: absolute;   
}
img.kid{
    margin-top: 40px;
    position:absolute;
}
p.kidtxt{
    width: 550px;
    margin-top: 150px;
    margin-left: 550px;
    color: white;
    font-size: 50px;
    line-height: 1.1;
    font-weight: bolder;
    text-align: left;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    position: absolute;
}
p.kidtxt2{
    margin-top: 280px;
    margin-left: 550px;
    width: 500px;
    color: white;
    font-size: 1.625rem;
    font-weight: 400;
    text-align: left;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    position: absolute;
}
.faq{
    width: 1263px;
    height: 980px;
    background-color: black;
    margin-top: 1040px;   
    position: absolute; 
    color: aliceblue;   
}
p.faqtxt{
    margin-top: 60px;
    margin-left: 320px;
    color: hsl(0, 0%, 100%);
    font-size: 50px;
    line-height: 1.1;
    font-weight: bolder;
    text-align: center;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    position: absolute;
}

.answer{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
    margin-top: 150px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.answer li{
    list-style: none;
    width: 100%;
    padding: 5px;
    margin: 10px;
}
.answer li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after{
    content:'+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type="radio"]{
    display: none;
}
.answer .content{
    background:#303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    font-size: 25px;
    overflow: hidden;
    transition: max-height 0.5s,padding 0.5s;
}
.answer input[type="radio"]:checked + label + .content{
max-height: 500px;
padding: 30px 20px;
}
.answer input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.subscription{
    width: 1263px;
    height: 508px;
    background-color: black;
    margin-top: 2028px;
}
.mail2{
    border: 1px solid;
    border-radius: 3px;
    background-color: rgba(177, 161, 161, 0.411);
    color: grey;
    padding: 5px 12px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    /* float:none; */
    /* position: absolute; */
    margin-top: 50px;
    margin-left: 310px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    width: 450px;
    height: 50px;
}
.button9{
    background-color: #ff0000;
    border: none;
    border-radius: 0px;
    color: rgb(255, 255, 255);
    width: 200px;
    height: 60px;
    position: absolute;
    margin-top: 50px;
    margin-left: 0px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 20px;
}
#login2{
    color: white;
    font-size: 20px;
    line-height: 1.1;
    font-weight:450;
    text-align: center;
    width: 700px;
    margin-left: 280px;
    margin-top: 20px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    position: absolute;
}
p.phone{
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 10px;
    color: white;
    font-size: medium;
    margin-top: 80px; 
    margin-left: 150px;  
    position: absolute; 
}
.help1{
    margin-top: 120px; 
    margin-left: 110px;  
    position: absolute;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.subscription a{
    text-decoration: underline;
    color: rgb(236, 232, 232);
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: small;
}
.help2{
    margin-top: 120px; 
    margin-left: 400px;  
    position: absolute;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.help3{
    margin-top: 120px; 
    margin-left: 790px;  
    position: absolute;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.a:click{
    color: #ff0000;
}
.subscription h6{
    color: rgb(244, 237, 237);
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-weight: lighter;
    font-size: medium;
    margin-top: 460px; 
    margin-left: 150px;  
    position: absolute;
}
#select1{
    background-color: #0400004b; /* Green */
    border-color: white;
    color: rgb(255, 255, 255);
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    margin-top: 400px;
    margin-left: 150px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
::placeholder{
    color: #ffffff;
}