.outerbox{
    background-color: rgb(244, 248, 251);
    width: 100%;
    height: 798px;
    position: absolute;
}
body{
    margin:0px;
}
.box1{
    /* background-color: rgb(70, 216, 119); */
    width: 30%;
    height: 50%;
    margin-top: 100px;
    position:absolute;
    margin-left: 100px;  
}
.box2{
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 42%;
    margin-top: 130px;
    position:absolute;
    margin-right: 200px;
    margin-left: 720px; 
    box-shadow: 0px 0px 10px 0px rgb(190, 187, 187);
    border-radius: 10px;

}
.box2 a{
    color: #1877f2;
}
.logo{
    /* background-color: aquamarine; */
    margin-top: 59px;
    position: absolute;
    margin-right: 70px;
    margin-left: 30px;
}
.word{
    /* background-color: rgb(153, 220, 127); */
    margin-top: 140px;
    position: absolute;
    margin-right: 70px;
    margin-left: 30px;
    font-size: 28px;
    width: 140%;
    height: 50%;
    color: #1c1e21;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
}
.login{
    border-radius: 10px;
}
.user input{
    border-radius: 10px;
    padding: 15px;
    width: 310px;
    margin-left: 15px;
    border-color:rgba(187, 179, 179, 0.274);
    border-width: 0.1px;
    margin-top: 15px;  
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-size: 17px;
}
.user input:focus{
    outline: #1877f2;
    outline: 0.1px solid;
    outline-color: #1877f2;
}
.loginButton{
    border-radius: 7px;
    padding: 12px;
    width: 350px;
    margin-left: 15px;  
    background-color: #1877f2;
    border-width: 0px;
    margin-top: 15px; 
    color: white;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
}
.loginButton:hover{
    cursor: pointer;
}
::placeholder{
    color: rgb(162, 160, 160);
}
.box2 a{
font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
margin-left: 138px;
font-size:smaller;
text-decoration: none;
}
.createNew{
    border-radius: 7px;
    padding: 15px;
    width: 200px;
    margin-left: -38px;  
    background-color: #42b72a;
    border-width: 0px;
    margin-top: 15px; 
    color: white;
    font-weight: bolder;
    font-size: large;
    text-align: center;
}
.createNew:hover{
    cursor: pointer;
}
#page{
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    margin-left: 770px;
    margin-top: 500px;
    font-size:smaller;
    color: rgb(44, 89, 129);
}
#page a{
    text-decoration: none;
    font-weight: bold;


}
.language{
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    margin-top: 100px;
    padding-top: 20px;
    font-size:smaller;
    background-color: rgb(255, 255, 255);
    width: 1255px;
    height: 20%;
    color: rgb(156, 146, 146);
    text-decoration: none;
    list-style: none;
}
.language a{
    color: rgb(156, 146, 146);
    text-decoration: none;
    padding-left: 5px;
  
}
.language ul{
    color: rgb(156, 146, 146);
    display: flex;
    list-style-type: none;
    text-indent: 9px;
    font-size: 12px;
}
.language p{
    margin-left: 50px;
    font-size: 12px;
}
.language hr{
    margin-left: 55px;
}
.plus{
    color: navajowhite;
}
.plus:hover{
    cursor: pointer;
}
